body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

button.delete {
    background-color: #ff4a4a;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}